.block-content {
	padding: 10px 0;
	
	&__title {
		display: block;
		color: #015d96;
		font-family: 'PF BeauSans Pro Bbook', sans-serif;
		font-size: 12px;
		font-weight: 500;
		line-height: 14px;
		margin-bottom: 5px;

		&--grey {
			color: #adadad;
		}
	}

	&__text {
		color: #000000;
		font-family: 'PF BeauSans Pro', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.2;

		img {
			margin-right: 2px;
			transform: translateY(2px);
		}

		ul {
			li {
				&:before {
					content: '— ';
				}
			}
		}

		& > * + * {
			display: block;
			margin-top: 5px;
		}
	}
}