@font-face {
    font-family: 'PF BeauSans Pro Bbook';
    src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Bbook.eot');
    src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Bbook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFBeauSansPro/PFBeauSansPro-Bbook.woff2') format('woff2'),
        url('../fonts/PFBeauSansPro/PFBeauSansPro-Bbook.woff') format('woff'),
        url('../fonts/PFBeauSansPro/PFBeauSansPro-Bbook.ttf') format('truetype'),
        url('../fonts/PFBeauSansPro/PFBeauSansPro-Bbook.svg#PFBeauSansPro-Bbook') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.eot');
    src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.woff2') format('woff2'),
        url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.woff') format('woff'),
        url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.ttf') format('truetype'),
        url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.svg#PFBeauSansPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.eot');
    src: url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.woff2') format('woff2'),
        url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.woff') format('woff'),
        url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.ttf') format('truetype'),
        url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.svg#PFBeauSansPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.eot');
    src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.woff2') format('woff2'),
        url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.woff') format('woff'),
        url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.ttf') format('truetype'),
        url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.svg#PFBeauSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

