.form-card {
  display: flex;
  flex-direction: column;
  width: 630px;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid #d5e8f3;
  background-color: #ffffff;
  padding: 25px 20px 30px;

  &__btn {
    align-self: flex-end;
    margin-top: 20px;
  }
}