.input-text {
  .form-field;

  &--search {
    padding: 0 40px 0 10px;
    background-image: url('../img/icon-search.svg');
    background-repeat: no-repeat;
    background-position: center right 10px;
  }

  &--toolbar {
    max-width: 390px;
  }
}