.search-block {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #a5c7db;
  background-color: #ffffff;

  &--toolbar {
    max-width: 390px;
  }

  &__input {
    .form-field;
    border: none;
  }

  &__btn {
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    border-radius: 0;
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}