.select2 {

  &-container {
    &--in-modal {
      z-index: 99950;
    }
    &--in-modal-2 {
      z-index: 99970;
    }
    &--in-modal-3 {
      z-index: 99990;
    }

    &--default {

      .select2-selection--single {        
        background: none;
        border: none;
        border-radius: 0;
        display: block;
        height: auto;

        .select2-selection {
          &__rendered {            
            display: flex;
            align-items: center;
            height: 40px;
            width: 100%;
            min-width: 40px;
            max-width: 100% ;
            color: #000000;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.4;
            border-radius: 4px;
            border: 1px solid #a5c7db;
            background-color: #ffffff;
            padding: 0 50px 0 15px;
            position: relative;
            &::placeholder {
              color: #a5a5a5;
              opacity: 1;
            }
          }

          &__arrow {            
            height: 100%;
            width: 40px;
            border-radius: 4px;
            background-image: url('../img/search-select-arrow.svg');
            background-repeat: no-repeat;
            background-position: center;
            top: 0; 
            right: 0; 
            b {
              display: none;
            }
          }      
        }
      }

      .select2-results__option {
        padding: 6px 15px;
        font-family: 'Roboto', sans-serif, sans-serif;
        font-size: 14px;
        line-height: 1.4;
        font-weight: 400;

        &--highlighted[aria-selected] {
          background-color: #01b7ff;
        }
      }
    }
  }
}