.status-text {
  color: inherit;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;

  &--agreed {
    color: #76c785;
  }
  &--denied {
    color: #e08484;
  }

}