.tabs {
	&__nav {
		max-width: 100%; //ie fix
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		border-bottom: 2px solid #d5e8f3;
		padding-bottom: 16px;
		margin-bottom: 20px;
	}

	&__nav-item {
		max-width: 100%; //ie fix
		flex-shrink: 0;
		position: relative;
		cursor: pointer;
		margin-right: 4px;

		&--active {
			box-shadow: 0 3px 6px rgba(56, 100, 128, 0.15);

			&:before {
				content: '';
				display: block;
				width: 20px;
				height: 15px;
				background-image: url('../img/tab-triangle.svg');
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				top: calc(100% - 2px);
				left: 50%;
				transform: translateX(-50%);
			}

			.tabs__link {
				background-color: #ffffff;
				color: #000000;
				font-weight: 700;
				position: relative;
				border-color: #015d96;
			}
		}
	}

	&__link {
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #666666;
		font-family: "Roboto Condensed";
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.7px;
		text-transform: uppercase;
		border-radius: 4px;
		overflow: hidden;
		transition: all 0.3s;
		border-top: 4px solid ;
		padding: 0 20px 2px;
		border-top: 4px solid transparent;

		&:hover {
			color: #37373f;
		}
	}

	&__tab {
		&:not(:first-child) {
			display: none;
		}
	}
}