@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('PFBeauSansPro-Bold.eot');
    src: local('PFBeauSansPro-Bold'),
        url('PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('PFBeauSansPro-Bold.woff') format('woff'),
        url('PFBeauSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF BeauSans Pro Bbook';
    src: url('PFBeauSansPro-Bbook.eot');
    src: local('PFBeauSansPro-Bbook'),
        url('PFBeauSansPro-Bbook.eot?#iefix') format('embedded-opentype'),
        url('PFBeauSansPro-Bbook.woff') format('woff'),
        url('PFBeauSansPro-Bbook.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('PFBeauSansPro-SemiBold.eot');
    src: local('PFBeauSansPro-SemiBold'),
        url('PFBeauSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('PFBeauSansPro-SemiBold.woff') format('woff'),
        url('PFBeauSansPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('PFBeauSansPro-Regular.eot');
    src: local('PFBeauSansPro-Regular'),
        url('PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('PFBeauSansPro-Regular.woff') format('woff'),
        url('PFBeauSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
