@charset 'UTF-8';
.form-field {
  display: block;
  height: 40px;
  width: 100%;
  max-width: 100%;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 38px;
  border-radius: 4px;
  border: 1px solid #a5c7db;
  background-color: #ffffff;
  padding: 0 10px;
}
.form-field::-webkit-input-placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.form-field::-moz-placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.form-field:-ms-input-placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.form-field::-ms-input-placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.form-field::placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
@font-face {
  font-family: 'PF BeauSans Pro Bbook';
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Bbook.eot');
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Bbook.eot?#iefix') format('embedded-opentype'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Bbook.woff2') format('woff2'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Bbook.woff') format('woff'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Bbook.ttf') format('truetype'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Bbook.svg#PFBeauSansPro-Bbook') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.eot');
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.woff2') format('woff2'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.woff') format('woff'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.ttf') format('truetype'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.svg#PFBeauSansPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.eot');
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.woff2') format('woff2'), url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.woff') format('woff'), url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.ttf') format('truetype'), url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.svg#PFBeauSansPro-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.eot');
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.woff2') format('woff2'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.woff') format('woff'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.ttf') format('truetype'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.svg#PFBeauSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lucida Grande';
  src: url('../fonts/LucidaGrande/ofont.ru_lucida_grande_1-webfont.eot');
  src: url('../fonts/LucidaGrande/ofont.ru_lucida_grande_1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/LucidaGrande/ofont.ru_lucida_grande_1-webfont.woff2') format('woff2'), url('../fonts/LucidaGrande/ofont.ru_lucida_grande_1-webfont.woff') format('woff'), url('../fonts/LucidaGrande/ofont.ru_lucida_grande_1-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lucida Grande';
  src: url('../fonts/LucidaGrande/ofont.ru_lucida_grande-webfont.eot');
  src: url('../fonts/LucidaGrande/ofont.ru_lucida_grande-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/LucidaGrande/ofont.ru_lucida_grande-webfont.woff2') format('woff2'), url('../fonts/LucidaGrande/ofont.ru_lucida_grande-webfont.woff') format('woff'), url('../fonts/LucidaGrande/ofont.ru_lucida_grande-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/* @font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/robotoblack-webfont.eot');
  src: url('../fonts/Roboto/robotoblack-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/robotoblack-webfont.woff2') format('woff2'),
    url('../fonts/Roboto/robotoblack-webfont.woff') format('woff'),
    url('../fonts/Roboto/robotoblack-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/robotobold-webfont.eot');
  src: url('../fonts/Roboto/robotobold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/robotobold-webfont.woff2') format('woff2'),
    url('../fonts/Roboto/robotobold-webfont.woff') format('woff'),
    url('../fonts/Roboto/robotobold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/robotomedium-webfont.eot');
  src: url('../fonts/Roboto/robotomedium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/robotomedium-webfont.woff2') format('woff2'),
    url('../fonts/Roboto/robotomedium-webfont.woff') format('woff'),
    url('../fonts/Roboto/robotomedium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/roboto-webfont.eot');
  src: url('../fonts/Roboto/roboto-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/roboto-webfont.woff2') format('woff2'),
    url('../fonts/Roboto/roboto-webfont.woff') format('woff'),
    url('../fonts/Roboto/roboto-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed/robotocondensed-webfont.eot');
  src: url('../fonts/RobotoCondensed/robotocondensed-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoCondensed/robotocondensed-webfont.woff2') format('woff2'),
    url('../fonts/RobotoCondensed/robotocondensed-webfont.woff') format('woff'),
    url('../fonts/RobotoCondensed/robotocondensed-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed/robotocondensedbold-webfont.eot');
  src: url('../fonts/RobotoCondensed/robotocondensedbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoCondensed/robotocondensedbold-webfont.woff2') format('woff2'),
    url('../fonts/RobotoCondensed/robotocondensedbold-webfont.woff') format('woff'),
    url('../fonts/RobotoCondensed/robotocondensedbold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
} */
/* custom-reset.css | 27.08.2018 | https://yurch-html.github.io/dist/custom-reset.html */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  background-color: #fff;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-text-decoration-skip: objects;
  text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
:focus {
  outline: none;
}
p,
dd,
dl,
figure,
blockquote {
  margin: 0;
}
blockquote,
q {
  quotes: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
audio,
video {
  display: block;
}
img {
  display: inline-block;
  border: none;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
iframe {
  border: none;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
abbr {
  border: none;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
}
i,
em {
  font-style: inherit;
}
dfn {
  font-style: inherit;
}
mark {
  background-color: transparent;
  color: inherit;
}
small {
  font-size: inherit;
}
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: inherit;
  line-height: 0;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-align: left;
  text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  -webkit-appearance: none;
}
button > * {
  position: relative;
}
textarea {
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: none;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
[type='search'] {
  outline: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
legend {
  display: block;
  padding: 0;
  white-space: normal;
}
select::-ms-expand {
  display: none;
}
svg {
  display: block;
  fill: currentColor;
}
[hidden] {
  display: none;
}
:disabled,
.disabled {
  cursor: not-allowed;
}
::-ms-clear {
  display: none;
}
:-webkit-autofill {
  -webkit-box-shadow: 0 0 100px #fff inset;
  box-shadow: 0 0 100px #fff inset;
  -webkit-text-fill-color: currentColor;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
main {
  display: block;
  margin: 0;
}
menu {
  display: block;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  min-width: 1280px;
}
body {
  font-family: 'PF BeauSans Pro Bbook', sans-serif;
}
.main {
  min-height: 100%;
  background-color: #d5e8f3;
  padding: 30px 0 40px;
}
.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
.page-title {
  color: #37373f;
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 15px;
}
.title {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  line-height: 36px;
  max-width: 100%;
}
.title--main {
  margin-bottom: 20px;
}
.title--subtitle {
  margin: 25px 0 15px;
}
.title--aside {
  line-height: 40px;
  margin-bottom: 20px;
}
.title--legend {
  line-height: 1.2;
  margin-bottom: 15px;
}
h1.title {
  font-size: 30px;
}
h2.title {
  font-size: 24px;
}
h3.title {
  font-size: 20px;
}
h4.title {
  font-size: 18px;
  line-height: 24px;
}
.title-group {
  text-align: center;
  padding: 12px 0;
}
.title-group__main {
  color: #37373f;
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}
.title-group__sub {
  color: #adadad;
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.box {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 9px rgba(0, 48, 70, 0.03);
  box-shadow: 0 1px 9px rgba(0, 48, 70, 0.03);
  padding: 10px 20px;
}
.box + .box {
  margin-top: 10px;
}
.box--round {
  padding: 20px;
  -webkit-box-shadow: 0 2px 4px rgba(131, 131, 131, 0.15);
  box-shadow: 0 2px 4px rgba(131, 131, 131, 0.15);
  border-radius: 4px;
}
.box--round + .box--round {
  margin-top: 20px;
}
.box--bordered {
  border-radius: 4px;
  border: 2px solid #d5e8f3;
  background-color: #ffffff;
  padding: 20px 20px 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box--logo {
  height: 185px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.box--leftBordered {
  min-height: 60px;
  border-left: 5px solid #ffffff;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 20px 20px 15px;
}
.box--leftBorderedYellow {
  border-color: #f2e59b;
}
.box--leftBorderedGreen {
  border-color: #b1f083;
}
.box--link {
  display: block;
  color: #01679c;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  text-decoration: none;
}
.box--link:hover {
  text-decoration: underline;
}
.box--link:after {
  content: '';
  display: block;
  width: 6px;
  height: 7px;
  background-image: url('../img/link-box-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.box--action {
  display: block;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.box--action:after {
  content: '';
  display: block;
  width: 6px;
  height: 7px;
  background-image: url('../img/action-box-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.box--actionRed {
  background-color: #e08484;
}
.box--actionRed:hover {
  background-color: #e59898;
}
.box--actionGreen {
  background-color: #76c785;
}
.box--actionGreen:hover {
  background-color: #88ce95;
}
.box--actionBlue {
  background-color: #01b7ff;
}
.box--actionBlue:hover {
  background-color: #1bbeff;
}
.grid__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.grid__row--center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.grid__row--bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.grid__row--top-border {
  border-top: 1px solid #dce8f1;
}
.grid__col {
  width: calc(50% - 10px);
}
.grid__col:first-child:last-child {
  width: 100%;
}
.grid__row:not(:last-child) .grid__col {
  border-bottom: 1px solid #ededed;
}
.table {
  table-layout: fixed;
  width: 100%;
  -webkit-box-shadow: 0 1px 9px rgba(0, 48, 70, 0.03);
  box-shadow: 0 1px 9px rgba(0, 48, 70, 0.03);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  background-color: #fff;
  border-radius: 2px;
}
.table + .table {
  margin-top: 20px;
}
.table + .table {
  margin-top: 40px;
}
.table__caption {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  padding: 20px;
  border: 2px solid #d5e8f3;
}
.table__thead {
  border: 2px solid #015d96;
}
.table__th {
  height: 43px;
  color: #ffffff;
  font-weight: 700;
  background-color: #015d96;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 18px 10px;
}
.table__th--no-bordered {
  border: none;
}
.table__th--left {
  text-align: left;
  padding-left: 20px;
}
.table__th--right {
  text-align: right;
  padding-right: 20px;
}
.table__td {
  height: 40px;
  color: #0f1217;
  border: 1px solid #d5e8f3;
  padding: 20px 10px;
}
.table__td--no-bordered {
  border: none;
}
.table__td--left {
  text-align: left;
  padding-left: 20px;
}
.table__td--right {
  text-align: right;
  padding-right: 20px;
}
.table__td strong,
.table__td b {
  font-weight: 700;
}
.table__td sub {
  margin: 0;
  color: #666666;
  font-size: 10px;
  bottom: 0;
}
.table__td time {
  color: #999999;
}
.table__td p + p {
  margin-top: 5px;
}
.table__td a {
  color: #006299;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}
.table__td a:hover {
  text-decoration: underline;
}
.table__tr--footer td {
  border: none;
  color: #a2b2be;
  background-color: #d8e6ef;
}
.table__tr--footer td strong {
  color: #0f1217;
}
.table__tr--toggable > .table__td {
  background-color: #d5e8f3;
  padding: 20px;
}
.table--helvetica {
  font-family: Helvetica, sans-serif;
}
.table--smaller {
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 13px;
}
.table--smaller .table__th {
  font-weight: 600;
  border-right: 1px dotted rgba(255, 255, 255, 0.3);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  padding-top: 14px;
  padding-bottom: 14px;
}
.table--smaller .table__td {
  padding-top: 8px;
  padding-bottom: 8px;
}
.table--modal-table {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.table--modal-table .table__tr--selected .table__td {
  background-color: #f4fbff;
}
.table--modal-table .table__tr--toggable > .table__td {
  background-color: #d5e8f3;
  padding: 20px;
}
.table--inner {
  position: relative;
}
.table--inner:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11.5px 11.5px 11.5px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  left: 38px;
  top: -11px;
}
.table--inner .table__caption {
  border: none;
}
.table--inner .table__thead {
  border: none;
  border-bottom: 1px solid #eaf3f9;
}
.table--inner .table__tbody .table__tr:last-child .table__td {
  padding-bottom: 30px;
}
.table--inner .table__td,
.table--inner .table__th {
  background-color: #fff;
  border: none;
  color: #000000;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 18px;
}
.table--inner .table__th {
  font-weight: 700;
  padding: 20px;
}
.table--inner .table__td {
  font-weight: 400;
  padding: 10px 20px;
}
.table--knowledgeBase {
  margin-top: 40px;
}
.table--risks {
  margin: 20px 0 30px;
}
.table--risks .table__td {
  color: #000;
}
.table-info {
  table-layout: fixed;
  width: 100%;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.table-info td {
  padding: 5px 10px 5px 0;
  vertical-align: top;
}
.table-info td:last-child {
  padding-right: 0;
}
.table-info td strong,
.table-info td b {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
.table-info td sub {
  margin: 0;
  color: #666666;
  font-size: 10px;
  bottom: 0;
}
.table-info td time {
  color: #999999;
}
.table-info td p + p {
  margin-top: 2px;
}
.table-info td a {
  color: #006299;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
  text-decoration: none;
}
.table-info td a:hover {
  text-decoration: underline;
}
.table-info td ul:not([class]) {
  line-height: 30px;
}
.table-info td ul:not([class]) li:before {
  content: '· ';
}
.table-info__tr--vam td {
  vertical-align: middle;
}
.table-info--biggerGap td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.table-info--searchResult {
  font-family: "Roboto Condensed", sans-serif;
}
.table-info--searchResult col:nth-child(odd) {
  width: 160px;
}
.table-info--knowledgeBase col:nth-child(odd) {
  width: 315px;
}
.table-info--presaleInfo:not(:last-child) {
  position: relative;
  margin-bottom: 50px;
}
.table-info--presaleInfo:not(:last-child):after {
  content: '';
  display: block;
  height: 1px;
  background-color: #d5e8f3;
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 100%;
}
.table-info--presaleInfo td {
  padding-top: 8px;
  padding-bottom: 8px;
}
.table-info--presaleInfo td a {
  font-weight: 400;
  text-decoration: underline;
}
.table-info--presaleInfo td a:hover {
  text-decoration: none;
}
.table-info--riskInfo {
  margin: 20px 0;
}
.table-info--checkboxGrid {
  width: auto;
  table-layout: unset;
  margin: -10px 0;
}
.table-info--checkboxGrid td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 55px;
}
.tabs__nav {
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 2px solid #d5e8f3;
  padding-bottom: 16px;
  margin-bottom: 20px;
}
.tabs__nav-item {
  max-width: 100%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  margin-right: 4px;
}
.tabs__nav-item--active {
  -webkit-box-shadow: 0 3px 6px rgba(56, 100, 128, 0.15);
  box-shadow: 0 3px 6px rgba(56, 100, 128, 0.15);
}
.tabs__nav-item--active:before {
  content: '';
  display: block;
  width: 20px;
  height: 15px;
  background-image: url('../img/tab-triangle.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: calc(100% - 2px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.tabs__nav-item--active .tabs__link {
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  position: relative;
  border-color: #015d96;
}
.tabs__link {
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #666666;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-top: 4px solid ;
  padding: 0 20px 2px;
  border-top: 4px solid transparent;
}
.tabs__link:hover {
  color: #37373f;
}
.tabs__tab:not(:first-child) {
  display: none;
}
.block-content {
  padding: 10px 0;
}
.block-content__title {
  display: block;
  color: #015d96;
  font-family: 'PF BeauSans Pro Bbook', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 5px;
}
.block-content__title--grey {
  color: #adadad;
}
.block-content__text {
  color: #000000;
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.block-content__text img {
  margin-right: 2px;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}
.block-content__text ul li:before {
  content: '— ';
}
.block-content__text > * + * {
  display: block;
  margin-top: 5px;
}
.block-content--bolder {
  padding: 0;
}
.block-content--bolder + .block-content--bolder {
  margin-top: 25px;
}
.block-content--bolder .block-content__title {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.4;
  margin-bottom: 10px;
}
.block-content--bolder .block-content__text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.block-content--bolder .block-content__text ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.block-content--bolder .block-content__text ul li:before {
  margin-right: 10px;
}
.status-block {
  padding: 5px 0;
  padding-left: 4px;
  margin-left: -4px;
  margin-top: -5px;
}
.status-block--denied {
  background-color: rgba(254, 222, 217, 0.4);
}
.status-inline {
  min-height: 20px;
  min-width: 20px;
  display: inline-block;
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px auto;
  padding-left: 22px;
}
.status-inline--denied {
  color: #e21d1d;
  background-image: url(../img/icon-denied.svg);
}
.status-inline--agreed {
  color: #48962d;
  background-image: url(../img/icon-agreed.svg);
}
.status-text {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
}
.status-text--green {
  color: #76c785;
}
.status-text--red {
  color: #e08484;
}
.status-text--brightRed {
  color: #ff0000;
}
.doc-link {
  min-height: 20px;
  min-width: 20px;
  display: inline-block;
  color: #0f1217;
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  background-image: url(../img/icon-doc.svg);
  background-size: 16px 20px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 24px;
}
.total-price {
  color: #0f1217;
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
}
.icon--close {
  height: 20px;
  width: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.icon--close:hover {
  opacity: 0.7;
}
.icon--close:before,
.icon--close:after {
  content: '';
  display: inline-block;
  height: 2px;
  width: 20px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
}
.icon--close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.icon--close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.icon--text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.icon--text + .icon--text {
  margin-top: 12px;
}
.icon--text .icon__img {
  width: 48px;
  height: 48px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.icon--text .icon__title {
  color: #000000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 27px;
}
.modal__bg {
  height: 100%;
  width: 100%;
  min-width: 320px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 62, 100, 0.9);
}
.modal__box {
  position: fixed;
  z-index: 12;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: calc(100% - 40px);
  width: 100%;
  max-width: 1240px;
  min-width: 320px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  overflow: hidden;
  background-color: #ffffff;
}
.modal__head {
  width: 100%;
  background-color: #01b7ff;
  min-height: 60px;
  padding: 16px 20px;
}
.modal__body {
  width: 100%;
  overflow: auto;
  padding: 25px 20px 30px;
}
.modal__title {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
}
.modal__close {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 5;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.plan-form__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
}
.plan-form__search {
  margin-bottom: 30px;
}
.plan-form__title {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
}
.plan-form__date {
  color: #999999;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: italic;
  margin-left: 20px;
}
.plan-form__date time {
  display: inline;
  color: #000000;
}
.plan-form__control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 30px -20px 0;
  padding: 30px 20px 0;
  border-top: 1px solid #d5e8f3;
}
.plan-form__control * + * {
  margin-left: 20px;
}
.checkbox {
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.checkbox__input {
  display: none;
}
.checkbox__icon {
  width: 18px;
  height: 18px;
  border: 2px solid #005d96;
  border-radius: 3px;
  background-color: transparent;
  position: relative;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 20px;
}
.checkbox__icon:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) scale(0) rotate(-45deg);
  transform: translate(-50%, -50%) scale(0) rotate(-45deg);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-image: url(../img/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px auto;
}
.checkbox__title {
  color: #005d96;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  line-height: 18px;
}
.checkbox__title img,
.checkbox__title svg {
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: auto;
}
.checkbox__title img:first-child,
.checkbox__title svg:first-child {
  margin-right: 2px;
}
.checkbox__input:checked + .checkbox__icon {
  background-color: #005d96;
  border-color: #005d96;
}
.checkbox__input:checked + .checkbox__icon:after {
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0deg);
  -ms-transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
}
.checkbox--light .checkbox__icon {
  border-color: #fff;
}
.checkbox--light .checkbox__input:checked + .checkbox__icon {
  background-color: #005d96;
  border-color: #fff;
}
.checkbox--light .checkbox__title {
  color: #fff;
}
.checkbox--regular .checkbox__icon {
  border: 1px solid #a5c7db;
  background-color: #ffffff;
  margin-right: 10px;
}
.checkbox--regular .checkbox__input:checked + .checkbox__icon {
  background-color: #005d96;
  border-color: #005d96;
}
.checkbox--regular .checkbox__title {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}
.checkbox--roboto .checkbox__title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.radio {
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.radio__input {
  display: none;
}
.radio__icon {
  width: 18px;
  height: 18px;
  border: 1px solid #a5c7db;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 10px;
}
.radio__icon:after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.radio__title {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}
.radio__input:checked + .radio__icon:after {
  background-color: #005d96;
}
.input-text {
  display: block;
  height: 40px;
  width: 100%;
  max-width: 100%;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 38px;
  border-radius: 4px;
  border: 1px solid #a5c7db;
  background-color: #ffffff;
  padding: 0 10px;
}
.input-text::-webkit-input-placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.input-text::-moz-placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.input-text:-ms-input-placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.input-text::-ms-input-placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.input-text::placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.input-text--short {
  width: 190px;
}
.input-text--date {
  background-image: url('../img/icon-calendar.svg');
  background-repeat: no-repeat;
  background-position: center right 10px;
  padding-right: 40px;
}
.input-text--textarea {
  height: 110px;
  line-height: 24px;
  padding: 5px 10px;
}
.search-block {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #a5c7db;
  background-color: #ffffff;
}
.search-block--toolbar {
  max-width: 390px;
}
.search-block__input {
  display: block;
  height: 40px;
  width: 100%;
  max-width: 100%;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 38px;
  border-radius: 4px;
  border: 1px solid #a5c7db;
  background-color: #ffffff;
  padding: 0 10px;
  border: none;
}
.search-block__input::-webkit-input-placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.search-block__input::-moz-placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.search-block__input:-ms-input-placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.search-block__input::-ms-input-placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.search-block__input::placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.search-block__btn {
  height: 40px;
  width: 40px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 0;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.btn {
  height: 50px;
  min-width: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: #01b7ff;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 0 30px;
}
.btn:hover {
  background-color: #34c5ff;
}
.btn svg,
.btn img {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-height: 16px;
}
.btn svg:first-child,
.btn img:first-child {
  margin-right: 10px;
}
.btn svg:last-child,
.btn img:last-child {
  margin-left: 10px;
}
.btn svg:first-child:last-child,
.btn img:first-child:last-child {
  margin: 0;
}
.btn svg [fill],
.btn img [fill] {
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}
.btn--bordered {
  color: #01b7ff;
  border: 2px solid #01b7ff;
  background-color: #fff;
}
.btn--bordered:hover {
  background-color: #fff;
  color: #67d4ff;
  border-color: #67d4ff;
}
.btn--bordered:hover [fill] {
  fill: #67d4ff;
}
.btn--short {
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  padding: 0 15px;
}
.btn--search {
  width: 100%;
}
.btn--search svg,
.btn--search img {
  max-height: 18px;
}
.btn--search svg:first-child,
.btn--search img:first-child {
  margin-right: 7px;
}
.btn--knowledgeBase {
  padding: 0 27px;
  margin-top: 30px;
}
.btn-toggler {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn-toggler__item:first-child .btn {
  border-radius: 4px 0 0 4px;
}
.btn-toggler__item:last-child .btn {
  border-radius: 0 4px 4px 0;
}
.btn-toggler__item:not(:last-child) {
  margin-right: -2px;
}
.btn-toggler__item .btn {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 0;
  padding: 0 10px;
  min-width: auto;
}
.btn-toggler__item .btn [fill] {
  fill: #01b7ff;
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}
.btn-toggler__item .btn:hover {
  border-color: #67d4ff;
}
.btn-toggler__item .btn:hover [fill] {
  fill: #67d4ff;
}
.btn-toggler__item input {
  display: none;
}
.btn-toggler__item input:checked + .btn {
  background-color: #01b7ff;
  cursor: default;
}
.btn-toggler__item input:checked + .btn [fill] {
  fill: #fff;
}
.btn-toggler__item input:checked + .btn:hover {
  border-color: #01b7ff;
  background-color: #01b7ff;
}
.btn-toggler__item input:checked + .btn:hover [fill] {
  fill: #fff;
}
.action-btn {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
  line-height: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}
.action-btn:hover {
  opacity: 0.8;
}
.action-btn + .action-btn {
  margin-left: 5px;
}
.action-btn img {
  height: 100%;
  width: auto;
}
.toggler-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 100%;
}
.toggler-block__toggler {
  width: 20px;
  height: 20px;
  background-image: url('../img/icon-chevron-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
  margin-right: -5px;
}
.toggler-block__toggler--active {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.slide-content__toggler {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #006299;
  cursor: pointer;
}
.slide-content__toggler:after {
  content: '↑';
  color: #b7d8eb;
  font-family: "Lucida Grande";
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  margin-left: 5px;
}
.slide-content__toggler--collapsed:after {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.toolbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.toolbar__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.toolbar__item > * {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.toolbar__item:not(:last-child) > *:not(:last-child) {
  margin-right: 20px;
}
.toolbar__item:last-child > *:not(:first-child) {
  margin-left: 20px;
}
.toolbar--riskInfo {
  margin-bottom: 20px;
}
.form-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 630px;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid #d5e8f3;
  background-color: #ffffff;
  padding: 25px 20px 30px;
}
.form-card__btn {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-top: 20px;
}
.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.pagination__nav:first-child {
  margin-right: 20px;
}
.pagination__nav:last-child {
  margin-left: 20px;
}
.pagination__pages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.pagination__pages .btn {
  width: 40px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 0;
  padding: 0 10px;
  min-width: auto;
}
.pagination__pages .btn:first-child {
  border-radius: 4px 0 0 4px;
}
.pagination__pages .btn:last-child {
  border-radius: 0 4px 4px 0;
}
.pagination__pages .btn:not(:last-child) {
  margin-right: -2px;
}
.pagination__pages .btn:hover {
  border-color: #67d4ff;
  color: #67d4ff;
}
.pagination__pages .btn--active {
  background-color: #01b7ff;
  color: #ffffff;
  cursor: default;
}
.pagination__pages .btn--active:hover {
  border-color: #01b7ff;
  background-color: #01b7ff;
  color: #ffffff;
}
.tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tags__item {
  height: 30px;
  border-radius: 2px;
  color: #000000;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-style: italic;
  line-height: 30px;
  padding: 0 10px;
}
.tags__item + .tags__item {
  margin-left: 2px;
}
.tags__item:nth-child(1) {
  background-color: #e3e1a9;
}
.tags__item:nth-child(2) {
  background-color: #c1ebd1;
}
.text-block {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.text-block--offseted {
  margin: 20px 0;
}
.add-comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.add-comment--riskInfo {
  margin-top: 20px;
}
.add-comment__input {
  border-radius: 2px;
}
.add-comment__btn {
  width: 114px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 20px;
  border-radius: 2px;
}
.links-list {
  padding: 0 30px;
}
.links-list--riskInfo {
  margin-top: 30px;
}
.links-list__item + .links-list__item {
  margin-top: 20px;
}
.links-list__link {
  color: #005d96;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-decoration: none;
}
.links-list__link:hover {
  color: #000000;
}
.links-list__link--active {
  font-weight: 700;
  color: #000000;
  position: relative;
  pointer-events: none;
}
.links-list__link--active:before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #01b9ff;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.text-required:after {
  content: ' *';
  color: #ff0000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: inherit;
}
.preloader {
  position: fixed;
  z-index: 10000;
  height: 100%;
  width: 100%;
  min-width: 320px;
  background-color: #01b7ff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.preloader__img {
  margin-bottom: 25px;
}
.preloader__title {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 2.4px;
}
.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.columns__main {
  width: calc(100% - 315px);
}
.columns__aside {
  width: 295px;
}
.columns__col {
  width: calc(100% / 3 - 13px);
}
.search-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0 2px 4px rgba(131, 131, 131, 0.15);
  box-shadow: 0 2px 4px rgba(131, 131, 131, 0.15);
  border-radius: 4px;
  overflow: hidden;
  background-color: #faf0e0;
  padding: 20px;
}
.search-section__fields {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100% - 146px);
}
.search-section__input {
  display: block;
  height: 40px;
  width: 100%;
  max-width: 100%;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 38px;
  border-radius: 4px;
  border: 1px solid #a5c7db;
  background-color: #ffffff;
  padding: 0 10px;
  width: 520px;
  border-radius: 4px 0 0 4px;
  border-right: none;
}
.search-section__input::-webkit-input-placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.search-section__input::-moz-placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.search-section__input:-ms-input-placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.search-section__input::-ms-input-placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.search-section__input::placeholder {
  color: rgba(0, 93, 150, 0.6);
  font-style: italic;
}
.search-section__select {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.search-section__select .select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 40px;
  border: 1px solid #a5c7db;
  border-radius: 0 4px 4px 0;
}
.search-section__select .select2-container--default .select2-selection--single .select2-selection__arrow {
  border-radius: 0 4px 4px 0;
}
.search-section__btn {
  width: 126px;
}
.select {
  cursor: pointer;
}
.select--short {
  width: 190px;
}
.select select {
  display: inline-block;
}
.select option {
  padding: 0 12px;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
.select2-container--in-modal {
  z-index: 99950;
}
.select2-container--in-modal-2 {
  z-index: 99970;
}
.select2-container--in-modal-3 {
  z-index: 99990;
}
.select2-container--default .select2-selection--single {
  background: none;
  border: none;
  border-radius: 0;
  display: block;
  height: auto;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  width: 100%;
  min-width: 40px;
  max-width: 100% ;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  border-radius: 4px;
  border: 1px solid #a5c7db;
  background-color: #ffffff;
  padding: 0 35px 0 10px;
  position: relative;
}
.select2-container--default .select2-selection--single .select2-selection__rendered::-webkit-input-placeholder {
  color: #a5a5a5;
  opacity: 1;
}
.select2-container--default .select2-selection--single .select2-selection__rendered::-moz-placeholder {
  color: #a5a5a5;
  opacity: 1;
}
.select2-container--default .select2-selection--single .select2-selection__rendered:-ms-input-placeholder {
  color: #a5a5a5;
  opacity: 1;
}
.select2-container--default .select2-selection--single .select2-selection__rendered::-ms-input-placeholder {
  color: #a5a5a5;
  opacity: 1;
}
.select2-container--default .select2-selection--single .select2-selection__rendered::placeholder {
  color: #a5a5a5;
  opacity: 1;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  width: 30px;
  border-radius: 4px;
  background-image: url('../img/search-select-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  right: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-container--default .select2-results__option {
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #01b7ff;
}
.search-filter {
  -webkit-box-shadow: 0 2px 4px rgba(131, 131, 131, 0.15);
  box-shadow: 0 2px 4px rgba(131, 131, 131, 0.15);
  border-radius: 4px;
  background-color: #faf0e0;
  padding: 30px 20px;
}
.search-filter__operate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.search-filter-fieldset {
  position: relative;
  margin-bottom: 30px;
}
.search-filter-fieldset__legend {
  color: #000000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  max-width: calc(100% - 90px);
  margin-bottom: 12px;
}
.search-filter-fieldset--columned .search-filter-fieldset__legend {
  max-width: 100%;
}
.search-filter-fieldset__all {
  display: inline-block;
  color: #005d96;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.search-filter-fieldset__all:hover {
  text-decoration: underline;
}
.search-filter-fieldset--columned .search-filter-fieldset__all {
  position: static;
  margin-top: 20px;
  margin-left: 28px;
}
.checkbox-list__item + .checkbox-list__item {
  margin-top: 12px;
}
.from-to-fields {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}
.from-to-fields__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.from-to-fields__item:first-child:before {
  content: 'от';
  margin-right: 6px;
}
.from-to-fields__item:last-child:before {
  content: 'до';
  margin-right: 6px;
}
.from-to-fields__item + .from-to-fields__item {
  margin-left: 8px;
}
.from-to-fields__input.input-text {
  min-width: 0;
  height: 36px;
  color: #000000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
}
.search-result {
  -webkit-box-shadow: 0 2px 4px rgba(131, 131, 131, 0.15);
  box-shadow: 0 2px 4px rgba(131, 131, 131, 0.15);
  border-radius: 4px;
  overflow: hidden;
  background-color: #ffffff;
  padding: 25px 20px;
  margin-top: 20px;
}
.search-result__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 48px;
  position: relative;
  padding-left: 60px;
  margin-bottom: 20px;
  margin-left: -2px;
}
.search-result__title img {
  position: absolute;
  top: 0;
  left: 0;
}
.search-result__title h2 {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
}
.search-result__title h6 {
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 1;
  text-transform: uppercase;
}
.search-result__more {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #006299;
  text-decoration: none;
  position: relative;
}
.search-result__more:hover {
  text-decoration: underline;
}
.search-result__more:after {
  content: '→';
  color: #b7d8eb;
  font-family: "Lucida Grande", sans-serif;
  font-size: 20px;
  position: absolute;
  right: -25px;
  top: 0;
}
.docs-slidable__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #006299;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
  position: relative;
  cursor: pointer;
}
.docs-slidable__head:after {
  content: '';
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  display: block;
  width: 12px;
  height: 35px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  background-image: url('../img/chevron-up.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}
.docs-slidable__head--collapsed:after {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.docs-slidable__head span {
  font-weight: 400;
  color: #b7d8eb;
  margin-left: 5px;
}
.docs-slidable__body {
  padding-left: 45px;
}
.docs-slidable__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
}
.docs-slidable__item:before {
  content: '';
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: block;
  height: 35px;
  width: 6px;
  background-image: url('../img/doc-item-indent.svg');
  background-repeat: repeat-x;
  background-position: left center;
  background-size: auto 6px;
  margin-right: 12px;
}
.docs-slidable--inner .docs-slidable__head:before {
  content: '';
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: block;
  height: 35px;
  width: 6px;
  background-image: url('../img/doc-item-indent.svg');
  background-repeat: repeat-x;
  background-position: left center;
  background-size: auto 6px;
  margin-right: 12px;
}
.docs-slidable--inner .docs-slidable__head:after {
  position: absolute;
  top: 0;
  left: -22px;
}
.docs-slidable--inner .docs-slidable__body {
  padding-left: 18px;
}
.docs-slidable--inner .docs-slidable__item:before {
  width: 21px;
}
