@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.eot');
  src: local('PFBeauSansPro-Bold'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.woff') format('woff'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PF BeauSans Pro Bbook';
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Bbook.eot');
  src: local('PFBeauSansPro-Bbook'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Bbook.eot?#iefix') format('embedded-opentype'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Bbook.woff') format('woff'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Bbook.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.eot');
  src: local('PFBeauSansPro-SemiBold'), url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.woff') format('woff'), url('../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.eot');
  src: local('PFBeauSansPro-Regular'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.woff') format('woff'), url('../fonts/PFBeauSansPro/PFBeauSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* custom-reset.css | 27.08.2018 | https://yurch-html.github.io/dist/custom-reset.html */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  background-color: #fff;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-text-decoration-skip: objects;
  text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
:focus {
  outline: none;
}
p,
dd,
dl,
figure,
blockquote {
  margin: 0;
}
blockquote,
q {
  quotes: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
audio,
video {
  display: block;
}
img {
  display: inline-block;
  border: none;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
iframe {
  border: none;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
abbr {
  border: none;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
}
i,
em {
  font-style: inherit;
}
dfn {
  font-style: inherit;
}
mark {
  background-color: transparent;
  color: inherit;
}
small {
  font-size: inherit;
}
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: inherit;
  line-height: 0;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-align: left;
  text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  -webkit-appearance: none;
}
button > * {
  position: relative;
}
textarea {
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: none;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
[type='search'] {
  outline: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
legend {
  display: block;
  padding: 0;
  white-space: normal;
}
select::-ms-expand {
  display: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
::-moz-placeholder {
  color: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
:-moz-placeholder {
  color: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
:focus::-webkit-input-placeholder {
  opacity: 0;
}
:focus::-moz-placeholder {
  opacity: 0;
}
:focus:-moz-placeholder {
  opacity: 0;
}
:focus:-ms-input-placeholder {
  opacity: 0;
}
svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
}
[hidden] {
  display: none;
}
:disabled,
.disabled {
  cursor: not-allowed;
}
::-ms-clear {
  display: none;
}
:-webkit-autofill {
  -webkit-box-shadow: 0 0 100px #fff inset;
  box-shadow: 0 0 100px #fff inset;
  -webkit-text-fill-color: currentColor;
}
::-moz-selection {
  color: #fff;
  background-color: #004fe4;
}
::selection {
  color: #fff;
  background-color: #004fe4;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
main {
  display: block;
  margin: 0;
}
menu {
  display: block;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  min-width: 1257px;
}
body {
  font-family: 'PF BeauSans Pro Bbook', sans-serif;
}
.main {
  min-height: 100%;
  background-color: #f2f8fb;
  padding: 30px 0 40px;
}
.container {
  width: 1257px;
  margin: 0 auto;
  padding: 0 20px;
}
.page-title {
  color: #37373f;
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 15px;
}
.title-group {
  text-align: center;
  padding: 12px 0;
}
.title-group__main {
  color: #37373f;
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}
.title-group__sub {
  color: #adadad;
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.box {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 9px rgba(0, 48, 70, 0.03);
  box-shadow: 0 1px 9px rgba(0, 48, 70, 0.03);
  padding: 10px 20px;
}
.box + .box {
  margin-top: 10px;
}
.grid__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.grid__row--center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.grid__row--bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.grid__row--top-border {
  border-top: 1px solid #dce8f1;
}
.grid__col {
  width: -webkit-calc(50% - 10px);
  width: calc(50% - 10px);
}
.grid__col:first-child:last-child {
  width: 100%;
}
.grid__row:not(:last-child) .grid__col {
  border-bottom: 1px solid #ededed;
}
.table {
  width: 100%;
  -webkit-box-shadow: 0 1px 9px rgba(0, 48, 70, 0.03);
  box-shadow: 0 1px 9px rgba(0, 48, 70, 0.03);
}
.table__th {
  color: #ffffff;
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 14px;
  background-color: #015d96;
  text-align: center;
  padding: 8px 20px;
}
.table__th--bordered {
  border: 1px dotted rgba(255, 255, 255, 0.3);
}
.table__th--no-bordered {
  border: none;
}
.table__th--left {
  text-align: left;
}
.table__th--right {
  text-align: right;
}
.table__td {
  height: 48px;
  color: #0f1217;
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid #ededed;
  padding: 8px 20px;
}
.table__td--bordered {
  border: 1px solid #ededed;
}
.table__td--no-bordered {
  border: none;
}
.table__td--left {
  text-align: left;
}
.table__td--right {
  text-align: right;
}
.table__td strong,
.table__td b {
  font-weight: 600;
}
.table__td p + p {
  margin-top: 5px;
}
.table__tr--full-bordered th {
  border: 1px dotted rgba(255, 255, 255, 0.3);
}
.table__tr--full-bordered td {
  border: 1px solid #ededed;
}
.table__tr--no-bordered td {
  border: none;
}
.table__tr--footer td {
  border: none;
  color: #a2b2be;
  background-color: #d8e6ef;
}
.table__tr--footer td strong {
  color: #0f1217;
}
.tabs__nav {
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -7.5px 0;
}
.tabs__nav-item {
  max-width: 100%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  margin: 7.5px 0;
}
.tabs__nav-item--active {
  -webkit-box-shadow: 0 1px 15px rgba(0, 48, 70, 0.08);
  box-shadow: 0 1px 15px rgba(0, 48, 70, 0.08);
}
.tabs__nav-item--active:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 11px 0 11px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.tabs__nav-item--active .tabs__link {
  background-color: #ffffff;
  color: #37373f;
  position: relative;
}
.tabs__nav-item--active .tabs__link:before {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background-color: #015d96;
  position: absolute;
  top: 0;
  left: 0;
}
.tabs__link {
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #adadad;
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 4px 18px 0;
}
.tabs__link:hover {
  color: #37373f;
}
.tabs__content {
  margin-top: 10px;
}
.tabs__tab:not(:first-child) {
  display: none;
}
.block-content {
  padding: 10px 0;
}
.block-content__title {
  display: block;
  color: #015d96;
  font-family: 'PF BeauSans Pro Bbook', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 5px;
}
.block-content__title--grey {
  color: #adadad;
}
.block-content__text {
  color: #000000;
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.block-content__text img {
  margin-right: 2px;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}
.block-content__text ul li:before {
  content: '— ';
}
.block-content__text > * + * {
  display: block;
  margin-top: 5px;
}
.status-block {
  padding: 5px 0;
  padding-left: 4px;
  margin-left: -4px;
  margin-top: -5px;
}
.status-block--denied {
  background-color: rgba(254, 222, 217, 0.4);
}
.status-inline {
  min-height: 20px;
  min-width: 20px;
  display: inline-block;
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px auto;
  padding-left: 22px;
}
.status-inline--denied {
  color: #e21d1d;
  background-image: url(../img/icon-denied.svg);
}
.status-inline--agreed {
  color: #48962d;
  background-image: url(../img/icon-agreed.svg);
}
.doc-link {
  min-height: 20px;
  min-width: 20px;
  display: inline-block;
  color: #0f1217;
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  background-image: url(../img/icon-doc.svg);
  background-size: 16px 20px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 24px;
}
.total-price {
  color: #0f1217;
  font-family: 'PF BeauSans Pro', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
}
